[Unit]
Description=Pi Temperature Exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pi-temp-exporter
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
